/**
 * XMPP Component connection
 */
exports.xmpp = { jid: 'channels.example.com',
		 password: 'secret',
		 host: 'localhost',
		 port: 5347
	       };

// PostgreSQL backend
exports.modelBackend = 'postgres';
exports.modelConfig = {
    host: 'localhost',
    port: 5432,
    database: 'channel-server',
    user: 'node',
    password: '***',
    poolSize: 4
};
