// buddycloud-server config file
// change EXAMPLE.COM to match your domain

// jid referrs to your server component
exports.xmpp = { jid: 'buddycloud.example.com',
		 password: 'tellnoone',
		 host: 'localhost',
		 port: 5347
	       };

// uncomment and set to enable topic channels on this domain
// exports.advertiseComponents = [ 'topics.example.com' ];

// database settings
exports.modelBackend = 'postgres';
exports.modelConfig = {
    host: 'localhost',
    port: 5432,
    database: 'buddycloud-server',
    user: 'buddycloud-server',
    password: 'tellnoone',
    poolSize: 4
};

// default privacy for new new channels
exports.defaults = {
    userChannel: { openByDefault:  true },
    topicChannel: { openByDefault: true },
};

// level can include "FATAL", "ERROR", "WARN", "INFO", "DEBUG", "TRACE"
// to enable syslog set stdout to false.
exports.logging = {
    stdout: true,
    colorized: false,
    level: "INFO",
    syslog: { hostname: "localhost", port: 514 },
    file: "/var/log/buddycloud-server.log"
};

// restrict creation of topic channels to just your domain - a good idea
exports.checkCreateNode = function(opts) {
    return (opts.nodeUser === opts.actor) ||
	(opts.nodeUser.split("@")[1] === "topics.EXAMPLE.COM");
};

// autosubscribe users to a few channels
exports.autosubscribeNewUsers = [
    "help@topics.buddycloud.org",
    "lounge@topics.buddycloud.org",
    "topics@topics.buddycloud.org"
];
